.category__header{
    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-radius: .75rem;
}

 .category__img{
        width: auto;
        height: auto;
       
    }

.category__posts{
    border-bottom: solid 1px black;
    
}

.section__cat{
    margin-bottom: 150px;
}

.category__spacer{
    border-bottom: solid 2px rgb(213, 211, 211);
    margin-bottom: 4px;


      
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 768px) {
   
    /*============  Show Menu  ===========*/
    .category__header{
        border-bottom: 2px solid rgba(0,0,0,0.1);
        /* border-radius: .75rem; */
    }

    .category__img{
        width: auto;
        height: auto;
    }
}


@media screen and (max-width: 350px) {
   
}