.category__header{
    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-radius: .75rem;
}



/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 768px) {
   
    /*============  Show Menu  ===========*/
    .category__header{
        border-bottom: 2px solid rgba(0,0,0,0.1);
        border-radius: .75rem;
    }

    .category__img{
        width: 120px;
        height: 80px;
    }
}


@media screen and (max-width: 350px) {
   
}