.category__header{
    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-radius: .75rem;
}

 .category__img{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.category__posts{
    border-bottom: solid 1px black;
    
}

.section__cat{
    margin-bottom: 150px;
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 768px) {
   
    /*============  Show Menu  ===========*/
    .category__header{
        border-bottom: 2px solid rgba(0,0,0,0.1);
        /* border-radius: .75rem; */
    }

    .category__img{
        width: auto;
        height: auto;
    }
}


@media screen and (max-width: 350px) {
   
}