.article__img{
    margin-bottom: 40px;
    object-fit: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__title{

}

.article__subtitle{
    text-align: justify;
    margin-bottom: 10px;
}

.article__desc{
 text-align: justify;
 margin-bottom: 20px;
}


.article__text{
    padding:10px;
    border-top: solid 3px rgb(213, 211, 211);
    /* border-bottom: solid 2px teal; */
    text-align: justify;
    margin-top: 16px;
    font-size:18px;
    line-height: 35px;   
}

.article__text-social{
    padding:10px;
    border-top: solid 3px rgb(213, 211, 211);
    /* border-bottom: solid 2px teal; */
    text-align: justify;
    margin-top: 16px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.icons-share{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link-share{
    padding:10px;
    margin:5px;
    
}


.section__article-postSlug{
  margin-top: 60px;
}


.postLine__title{
    display:flex;
    flex-direction: row;
    justify-content:start;
    padding-bottom: 3px;
    border-bottom: solid 3px rgb(213, 211, 211);
}

.postLine__container{
    width: 1050px;
    margin-bottom: 30px;
}

.post__article-blog{
    width: 600px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: blur(5px); */
/*     
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); */
}


/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 768px) {
  

}


@media screen and (max-width: 350px) {
    
}