.article__img{
    margin-bottom: 40px;
    object-fit: cover;
}

.article__title{

}

.article__subtitle{
    text-align: justify;
    margin-bottom: 10px;
}

.article__desc{
 text-align: justify;
}
