.article__img{
    margin-bottom: 40px;
    object-fit: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__title{
    mix-blend-mode: difference;
}

.article__subtitle{
    text-align: justify;
    margin-bottom: 10px;
    mix-blend-mode: difference;
}

.article__desc{
 text-align: justify;
 margin-bottom: 20px;
 mix-blend-mode: difference;
}


.article__text{
    padding:10px;
    border-top: solid 3px rgb(213, 211, 211);
    /* border-bottom: solid 2px teal; */
    text-align: justify;
    margin-top: 16px;
    font-size:18px;
    line-height: 35px;   
}

.article__text-social{
    padding:10px;
    border-top: solid 3px rgb(213, 211, 211);
    /* border-bottom: solid 2px teal; */
    text-align: justify;
    margin-top: 16px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.icons-share{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link-share{
    padding:10px;
    margin:5px;
    
}


.section__article-postSlug{
  margin-top: 60px;
}


.postLine__title{
    display:flex;
    flex-direction: row;
    justify-content:start;
    padding-bottom: 3px;
    border-bottom: solid 3px rgb(213, 211, 211);
}

.postLine__container{
    width: 1050px;
    margin-bottom: 30px;
}

.post__article-blog{
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -webkit-filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -moz-filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -o-filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -ms-filter: blur(15px)brightness(1.8) contrast(0.9) ;
  }

  .post__article-blog2{
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -webkit-filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -moz-filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -o-filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -ms-filter: blur(15px)brightness(1.8) contrast(0.9) ;
  }
  
  .post__article-blog3{
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -webkit-filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -moz-filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -o-filter: blur(15px)brightness(1.8) contrast(0.9) ;
    -ms-filter: blur(15px)brightness(1.8) contrast(0.9) ;
  }
  


  .content {
    position: relative;
    z-index: 1;
    /* padding: 20px; */
    /* color: #fff; */
    /* Additional styles for the content section */
    
  }
  
  
  
  
  
  
  
  


/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 768px) {
  /* .article__subtitle{
    color: black;
  }

  .article__desc{
    color: black;
  } */
  .post__article-blog{
    height: 80%;
  }
}


@media screen and (max-width: 350px) {
    
}