.posts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-bottom: 20px;
}

.post {
      display: flex;
      gap: 100px;
    }

.post:nth-child(2n + 1) {
        flex-direction: row-reverse;
      }

.img {
        flex: 2;
        position: relative;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
}

.img::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgb(177, 218, 219);
          position: absolute;
          top: 20px;
          left: -20px;
          z-index: -1;        
}

.img {
         width: 100%;
          max-height: 400px;
          object-fit: cover;
}
      
.content {
flex: 3;
 display: flex;
flex-direction: column;
justify-content: space-between;
      }
       
.button {
 width: max-content;
padding: 10px 20px;
border: none;
 cursor: pointer;
background-color: white;
 border: 1px solid teal;
 color: teal;
}
.button:hover {
  border: 1px solid white;
  background-color: lightGreen;
  color: black;
 }
    

 .postCol__description2{
    margin-bottom: 15px;
 }