 .posts {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
  }
  
 .posts .post {
    display: flex;
    gap: 90px;
    padding: 25px;
    margin: 35px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.573);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.47);
  }

  .posts .post:hover {
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px -12px 10px -10px rgba(0, 0, 0, 0.05);
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    transform: translateY(2px);
  }
  
 .posts .post:nth-child(2n + 1) {
    flex-direction: row-reverse;
    /* background-color: antiquewhite; */
    /* z-index: -10; */
  }
  
 .posts .post .img {
    flex: 2;
    position: relative;
    box-shadow: 3.5px 3.5px 5.5px -1px rgba(0, 0, 0, 0.15),
               -3.5px -3.5px 5.5px -1px rgba(255, 255, 255, 0.518);
  }
  
 /* .posts .post .img::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color:  rgb(177, 218, 219);
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: -1;
  } */
  
 .posts .post .img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
 .posts .post .content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
 .posts .post .content h1 {
    font-size: 48px;
  }
  
   .posts .post .content p {
    font-size: 18px;
  }
  
   .posts .post .content button {
    width: max-content;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    border: 1px solid teal;
    color: teal;
  }
  
   .posts .post .content button:hover {
    border: 1px solid white;
    background-color: lightgreen;
    color: black;
  }

 .postCol__description2{
    margin-bottom: 15px;
 }


 /*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 768px) {
   
 .postCol__description2{
  size: 15px;
 }

 .postCol__title2{
  position: relative;
  z-index: 1;
 }

 .img5{
  position: absolute;
  z-index: -10;
 
  width: 50%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px) contrast(0.9) ;
    -webkit-filter: blur(5px) contrast(0.9) ;
    -moz-filter: blur(5px) contrast(0.9) ;
    -o-filter: blur(5px) contrast(0.9) ;
    -ms-filter: blur(5px) contrast(0.9) ;
  
 }
}


@media screen and (max-width: 350px) {
 
}
