.section3__view{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3__view-title{
    padding:10px;
    border: solid 1px rgb(213, 211, 211);
    border-radius:5px;
    size: 15px;
}