.main-section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1800px; 
    height:960px;
    max-height: 1040px; 
    max-width: 1710px;
}

.main-section-zero{
    display:flex;
   width: 100%;
   height: 100%;
    /* max-width: 1040px;  */
   
    background-color: red;
}

.left{
    width: 40%;
    height: 100%;
    background-color: yellow;
}

.right{
    width: 60%;
    height: 100%;
    background-color: white;
}

.rtop{
    width: 100%;
    height: 50%;
    background-color: royalblue;
}

.rbottom{
    width: 100%;
    height: 50%;
    background-color: rgb(225, 158, 65);
}

.rtopleft{
    width: 55%;
    height: 100%;
    background-color: rgb(225, 65, 65);
}

.rtopright{
    width: 45%;
    height: 100%;
    background-color: rgb(225, 65, 193);
}