// Colors
$color-primary-white: bisque;

.main2 {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  padding: 50px;
  font-family: "Roboto", sans-serif;
 
}

.card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: $color-primary-white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-in, backdrop-filter 0.3s ease-in;
  }

  // .image-hover-effect {
  //   position: relative;
  //   display: inline-block;
  //   overflow: hidden; /* Ensure the overlay doesn't exceed the image bounds */
  // }
  
  // .image-hover-effect::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0); /* Initial transparent background */
  //   transition: background-color 0.3s ease-in;
  // }
  
  // .image-hover-effect:hover::after {
  //   background-color: rgba(0, 0, 0, 0.855); /* Dark overlay on hover */
  // }


  h2 {
    position: absolute;
    inset: auto auto 30px 25px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(203, 138, 17, 0.688);
    text-align: justify;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2px;
    margin: 4px;
  }

  h3{
    position: absolute;
    inset: auto 0px 460px 0px;
    margin: 0;
    

  }

  p,
  a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }

  p {
    inset: auto auto 120px 30px;
    text-align: justify;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    &.description-element{
      color:  rgba(210, 138, 4, 0.829);
    }
    
  }


  a {
    inset: auto auto 30px 30px;
    color: inherit;
    text-decoration: none;
    &.find-out-more {
      display: flex;
      align-items: center;
      color:  rgba(210, 138, 4, 0.829);
    }
    &.color-top{
        color: rgba(210, 138, 4, 0.829);
    }
    &.material-symbols-outlined{
   color: rgba(210, 138, 4, 0.829);
    }
  }

  &:hover h2 {
    inset: auto auto 290px 25px;
    transition: inset 0.3s ease-out;
    padding: 2px;
    margin: 4px;
    
  }

  &:hover p,
  &:hover a
  {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
    
  }


  &:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
  
    // backdrop-filter: blur(5px);
    // background-color: rgba(255, 255, 255, 0.4);
    // // backdrop-filter: blur(5px);
    // background-color: rgba(255, 255, 255, 0.4);
  }



}

.material-symbols-outlined {
  vertical-align: middle;
}


@media (max-width: 450px) {
  .card {
    width: 100%; // Adjust as needed
  }

  .grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}