.section3__view{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3__view-title{
    padding:10px;
    border: solid 1px rgb(213, 211, 211);
    border-radius:15px;
    size: 15px;
    border-width: 3px;
    /* transition: transform 0.5s; */
    /* box-shadow: 5px 5px 9px -1px rgba(0,0,0,0.2); */
    
    box-shadow: 3.5px 3.5px 5.5px -1px rgba(0, 0, 0, 0.15),
               -3.5px -3.5px 5.5px -1px rgba(255, 255, 255, 0.518);
    transition: transform 0.5s;  
}