.section5__posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
}

.container_section5{ 
    width: 1140px;
      max-width: 100%;
  }

.main_postColMultiple{
    width:1140px;
    height:1190px;
    max-width:100%;
    max-height: 100%;
    
}


.top{
    display:flex;
    width:100%;
    height: 70%;
    
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 30%;
    background-color: blueviolet;
}

.bottom__container{
    display:flex;
    /* flex-direction: column; */
    max-width: 100%;
    padding:10px;
    margin:10px;
    
}

.bottom-left{
    width: 50%;
    height: 100%;
    background-color: green;
    zoom:.52;
}

.bottom-right{
    width: 50%;
    height: 100%;
    background-color: rgb(128, 34, 0);
    zoom:.52;
}

.container__b-left{
    /* padding:10px;
    margin:10px; */
}

.topLeft{
    width: 65%;
    height: 100%;
    
}


.topLeft__container{
    padding:10px;
    margin:10px;
}

.topRight{
    width: 35%;
    height: 100%;
    background-color: rgb(225, 255, 0);
}

.topRight__container{
    padding:10px;
    margin:10px;
}


@media screen and (max-width: 768px) {

.main_postColMultiple{
    display:flex;
    width:1140px;
    height: 1500px;
    max-height: 100%;
    max-width:100%;

}




}