.slide__container{
 padding:10px;
 margin:10px;
}


.slide__title{
     display:flex;
     justify-content: start;
     text-align: start;
     /* padding:10px; */
     padding-top:10px;
     padding-bottom: 10px;
     border-bottom: solid 2px rgb(213, 211, 211);
}

.slide__description{
     text-align: justify;
     padding-top: 2px;
}

.section1__posts{
    border-bottom: solid 3px rgb(213, 211, 211);
    position:relative;   
}

.section1__posts-title{
     position:absolute;
     bottom: -30px;
     z-index: 10;
     background-color: #ffffffdc;
     padding:10px;
     display:flex;
     justify-content: center;
     align-items: center;
}
