.postCol {
   
}

.postCol__title{
  text-align: justify;
  
}

.line-under{
  border-bottom: solid 1px rgb(213, 211, 211);
}

.postCol__img{
  /* flex:2; */
  position: relative;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.47);
  /* aspect-ratio: 3/2; */
  /* object-fit: contain; */
  /* mix-blend-mode: color-burn; */

}

/* .postCol__img::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(177, 218, 219);
  position: absolute;
  top:10px;
  left:-10px;
  z-index: -10;
} */

.section4__posts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section4 {
    margin-bottom: 150px;
}

.container__section4{
  width: 100%;
  max-width: 1450px;
}

.custom-image-wrapper3 {
  width: 200px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/12;

}


/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 768px) {

    .postCol__img::after{
        display: none;
      }

      /* .postCol:nth-child(2n+1) {
        flex-direction: row-reverse;
      } */

}


@media screen and (max-width: 350px) {
  
}