.slide__container{
 padding:10px;
 margin:10px;
}


.slide__title{
     display:flex;
     justify-content: start;
     text-align: start;
     /* padding:10px; */
     padding-top:10px;
     padding-bottom: 10px;
     

}

.slide__description{
     text-align: justify;
}

.section1__posts{
    border-bottom: solid 3px rgb(213, 211, 211);
    position:relative;   
}

.section1__posts-title{
     position:absolute;
     bottom: -30px;
     z-index: 10;
     background-color: #ffffffdc;
     padding:10px;
     display:flex;
     justify-content: center;
     align-items: center;
}

.postCol__img2{
     /* flex:2; */
     position: relative;
   }
   
.postCol__img2::after{
     content: "";
     width: 100%;
     height: 100%;
     background-color: rgb(177, 218, 219);
     position: absolute;
     top:10px;
     left:-10px;
     z-index: -10;
   }

   @media screen and (max-width: 768px) {

     .postCol__img2::after{
         display: none;
       }
 
       /* .postCol:nth-child(2n+1) {
         flex-direction: row-reverse;
       } */
 
 }