.section3__view{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
}

.section3__view-title{
    padding:10px;
    border: solid 1px rgb(213, 211, 211);
    border-radius:15px;
    size: 15px;
    border-width: 3px;
    /* transition: transform 0.5s; */
    /* box-shadow: 5px 5px 9px -1px rgba(0,0,0,0.2); */
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: 3.5px 3.5px 5.5px -1px rgba(0, 0, 0, 0.15),
               -3.5px -3.5px 5.5px -1px rgba(255, 255, 255, 0.518);
    transition: transform 0.5s;  
}

.section3__view-title:hover{
    box-shadow: 10px 10px 0px -1px rgba(0,0,0,0.15),       
    1px 1px 0.5px  rgba(0,0,0,0.15),
    0px -12px 10px -10px  rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1); 
/* transform:translateY(-2px)  ;    */  
    transform:scale(1.05);
    transition: transform 0.5s;
    color:rgba(255, 255, 255, 0.952);
    background-color: rgb(62, 151, 151)
}

.custom-image-wrapper7 {
  width: 740px;
  height: 730px;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 0.6;
}

.custom-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}


.background-img2{
  width: 1278px;
  height: 100%;
  background-image: url(/keys-pattern-yellow-getty.jpeg);
  background-size:cover;
  background-position: center;
  /* opacity:.3; */
  z-index: -10000;
}

.postLine__img2{
    /* flex:2; */
    position: relative;
  }
  
/* .postLine__img2::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(177, 218, 219);
    position: absolute;
    top:10px;
    left:-10px;
    z-index: -10;
  } */


  .postLine__container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width: 950px;
    
  }

  .postLine__container2{
    
    padding:20px;
    margin:20px;
    
}

.swiper-container {
  margin: 0 auto;
}

.section3__container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3__posts{
 
  border-bottom: solid 3px rgb(213, 211, 211);
  position:relative;   
}

.section3__posts-title{
  
   position:absolute;
   bottom: -30px;
   z-index: 10;
   background-color: #ffffffdc;
   padding:10px;
   display:flex;
   justify-content: center;
   align-items: center;
}
 

@media screen and (max-width: 992px) {
 
  .postLine__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
   
   
  }


  .swiper-container {
    margin: 0 auto;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {

  .postLine__img2::after{
    display: none;
  }

  .postLine__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
   
    
  }

}

@media screen and (max-width: 568px) {



}

/* For small devices */
@media screen and (max-width: 350px) {
  

}
