.social-icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.social-icons-link{
    padding:2px;
    font-size: 20px;
}